@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
body{
    font-family: Montserrat;
}
.section{
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 15%;
    background-color: #f8f9fa;
}
/* Header */

#NavTitle{
    color: #4f4f4f;
}


/* Footer */
footer{
    background-color: #181818;
    color: #e6e6e6;
    padding-top: 40px;
    padding-bottom: 70px;
}
.FooterLink{
    color: #e6e6e6;
    text-decoration: none;
}
